
<div class="container">
<h1 class="page-headers"> Saved Recipes</h2>
  <% if @recipes.size == 0 %>
    <p class="well"> No saved recipes... yet!</p>
  <% end %>

  <% if @recipes.size > 0%>
  <p></p>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Recipe</th>
        </tr>
      </thead>
      <tbody id="recipies_rows">
        <% @recipes.each do |r| %>
        <tr>
          <td> <a target="_blank" href="<%= recipe_path(r) %>"><img src="<%= r.image_url%>" width="130"> </a></td>
          </td>
          <td> <a target="_blank" href="<%= recipe_path(r) %>"><%= r.recipe_name %></a></td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>
