<%if current_user %>
  <% if current_user.role ==1%>
  <h1 class="page-headers"> You are already logged in</h1>

  <%else%>
  <h1 class= "page-headers"> New User </h1>

  <%= render 'form', user: @user %>
  <%= link_to 'Back', users_path %>
  <%end%>

<%else%>
  <h1 class= "page-headers"> Join the Community! </h1>
    <%= render 'form2', user: @user %>

<%end%>

<%= link_to 'Back', welcome_index_path %>
