<%= stylesheet_link_tag 'index' %>
<div class="logo">
  <img  class= "logo" src="/logo.jpg" alt="logo" />
</div>
<div class="main-page">
  <div class="main-page-links">
	  <% if current_user %>
	    <h1>
	    	Hello <%= current_user.username %>
	    </h1>
	  <% end %>
    <input type="text" class="mainSearch" placeholder="Search Recipes..">
  </div>
</div>
