
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #990000;
    top: 0;
    width: 100%;
}

li{
  float: left;
}

li, .dropButton{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li input{
  padding: 10px 15px;
}

button.dropButton{
  border: none;
}

li.account{
  float: right;
  margin-right: 40px;
  display: inline-block;
}

div.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


div.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

li a, .dropButton {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


.dropdown-content a:hover {background-color: #f1f1f1}

li.account:hover .dropDownContent {
    display: block;
}
div.logo {
 text-align: center;
}
img.logo{
  display:in-line block;
  margin-top: 50px;
}
.main-page-buttons {
  font: 30px Arial;
  background-color: #990000;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}
.main-page-buttons:visited{
  font-color:white;
}
div.main-page{

}
div.main-page-links{
  text-align:center;
}
