nav.navbar-default  {
    background: url('../barBackground.jpeg');
    box-shadow: inset 0 0 0 1000px rgba(153,0,0,0.8);
    margin-bottom: 10%;
    padding-bottom: 30px;
}

a{ /* set default font size of text to 35px */
  font-size: 20px;
}

@media (min-width: 979px){ /* only screen bigger than 979px can hover */
  ul.navbar-right li.dropdown:hover > ul.dropdown-menu{
    display:block;
  }
}

li input{
  font-size: 20px;
}

ul.dropdown-menu{
  font-size: 20px;
}

li.dropdown a.dropdown-toggle{
  color: white;
  font-size: 20px;
  padding-right: 50px;
}

body {
  /*http://uigradients.com/#MetallicToad*/
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li.dropdown a.dropdown-toggle:hover{
  color: white;
}

li{
  display:inline-block;
  font-size: 20px;
  padding: 17px 20px;
  margin-top: 2%;
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
}

img{
  width: 50%;
  height:10%;
}

body{
  padding-top: 10%;
}


.search-bar .search-button{
    background: white;
}

.search-bar button{
    border:0;
    background:transparent;
}
.table table{

}
