nav.navbar-default  {
    background: url('../barBackground.jpeg');
    box-shadow: inset 0 0 0 1000px rgba(153,0,0,0.8);
    margin-bottom: 10%;
    padding-bottom: 0px;
}

<<<<<<< HEAD
a{ /* set default font size of text to 35px */
  font-size: 20px;
}

@media (min-width: 979px){ /* only screen bigger than 979px can hover */
  ul.navbar-right li.dropdown:hover > ul.dropdown-menu{
    display:block;
  }
=======


li, .dropButton{
  font-size: 20px;

  padding: 14px 16px;
  text-decoration: none;

>>>>>>> apiupdate
}

li input{
  font-size: 20px;
}

ul.dropdown-menu{
  font-size: 20px;
}

li.dropdown a.dropdown-toggle{
  color: white;
  font-size: 20px;
  padding-right: 50px;
}

body {
  /*http://uigradients.com/#MetallicToad*/


}

li.dropdown a.dropdown-toggle:hover{
  color: white;
}

li{
  display:inline-block;
  font-size: 20px;
  padding: 17px 20px;
  margin-top: 2%;
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
}

.logo-in-nav {
  width:50%;
}

#saved-img img{
  width: 200%;

}

body{
  padding-top: 10%;
}


.search-bar .search-button{
    background: white;
}

.search-bar button{
    border:0;
    background:transparent;
}

#recipe-name{
  font-size: 90%;
}
#remove-recipe{
  font-size:120%;
  }
