img {
  max-width: 100%;
}
nav.navbar-default  {
    background: url('../barBackground.jpeg');
    box-shadow: inset 0 0 0 1000px rgba(153,0,0,0.8);
    margin-bottom: 10%;
    padding-bottom: 0px;
}

a{ /* set default font size of text to 35px */
  font-size: 20px;
}


@media (min-width: 979px){ /* only screen bigger than 979px can hover */
  ul.navbar-right li.dropdown:hover > ul.dropdown-menu{
    display:block;
  }

li, .dropButton{
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;

}

li input{
  font-size: 20px;
}

ul.dropdown-menu{
  font-size: 20px;
}

li.dropdown a.dropdown-toggle{
  color: white;
  font-size: 20px;
  padding-right: 50px;
}
.dropdown-content a:hover {background-color: #f1f1f1}

}

li.dropdown a.dropdown-toggle:hover{
  color: white;
}

li{
  display:inline-block;
  font-size: 20px;
  padding: 17px 20px;
  margin-top: 2%;
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
}

.logo-in-nav {
  width:50%;
}

#saved-img img{
  width: 200%;

}

body{
  padding-top: 10%;
}


#recipe-name{
  font-size: 90%;
}
#remove-recipe{
  font-size:120%;
}

.search-bar{
  padding-left:0;
  padding-right:0;
}

.advanced-dropdown {
  height:500px;
  margin:0;
  padding:0;
}


.advanced-dropdown li {
  margin: auto;
  width: 100%;

}
.btn-primary{
  background-color: currentColor;
}


#comment_board_reply {
  margin: 1rem 0;
}
#comment_board_reply .comment_text_field {
  width: 90%;
  height: 35px;
  border-radius: 5px;
}
#comment_board{
  border-top-style: groove;
}
#comment_board .single_comment {
  // background-color: white;
  border-bottom: 1px solid #ccc;
  margin: 0.3rem;
  padding: 5px 10px;
}
#comment_board .single_comment:last-child {
  border-bottom: none;
}
