nav.navbar-default  {
    background: url('../barBackground.jpeg');
    box-shadow: inset 0 0 0 1000px rgba(153,0,0,0.8);
    margin-bottom: 10%;
    padding-bottom: 30px;
}

a{ /* set default font size of text to 35px */
  font-size: 35px;
}

@media (min-width: 979px){ /* only screen bigger than 979px can hover */
  ul.navbar-right li.dropdown:hover > ul.dropdown-menu{
    display:block;
  }
}

li input{
  font-size: 40px;
}

ul.dropdown-menu{
  font-size: 40px;
}

li.dropdown a.dropdown-toggle{
  color: white;
  font-size: 40px;
  padding-right: 50px;
}

li.dropdown a.dropdown-toggle:hover{
  color: white;
}

li{
  display:inline-block;
  font-size: 20px;
  padding: 17px 20px;
  margin-top: 2%;
  text-decoration: none;
  font-family: "Tahoma", Geneva, sans-serif;
}

img{
  width: 50%;
  height:10%;
}

body{
  padding-top: 10%;
}
