<!DOCTYPE html>
<html>
  <head>
    <title>Project276</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="application.css">
    <script src="application.js" type="text/javascript"></script>
  </head>


  <body>
    <div class="nav-fixer">
    <ul class="topnav" id="topNavBar_left">
<!---      <li class="left"><a href="Home">Home</a></li> --->
      <%= link_to '<li class="left">Home</li>'.html_safe, welcome_index_path %>
      <li class="left"><input type="text" name="keyword"></li>
      <li class="left"><input type="submit" value="Search"></li>
      <li class="account">
        <a href="#" class="dropButton">Account</a>
        <div id="accountDropDownItems" class="dropDownContent">
          <a href="Setting">Setting</a>
          <a href="Recipes">Saved Recipes</a>
        </div>
      </li>
    </ul>
  </div>
    <%= yield %>
  </body>
</html>
